PORT=4003

DATABASE_URL=postgresql://taskflow_user:jUf20l5nbNNKjotvTmNdGdJXDP5rFydx@dpg-da7sg6h5efls73eg3mf0-a/codveda_taskflow

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

FRONTEND_URL=http://localhost:5173

NODE_ENV=development