PORT=4005

DATABASE_URL=postgresql://postgres:3737@localhost:5432/codveda_graphql

JWT_ACCESS_SECRET=codveda_task3_graphql_access_secret_2026
JWT_SECRET=codveda_graphql_super_secret_key_2026

FRONTEND_URL=http://localhost:5174